<html>
  <head>
    <style>
      /* Add your CSS styles here */
    </style>
  </head>
  <body>
    <h1>Welcome to My Website</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Thank you for signing up!</p>
    <p>Please click the following link to confirm your email:</p>
    <a href="<%= confirmationLink %>">Confirm Email</a>
    <img src="<%= imageUrl %>" alt="Welcome Image" />
  </body>
</html>

